        @charset "utf-8";
        
        h1 {
            color: red;
        }

        p {
            font-size: 20px;
            background-color: gold;
        }

        img {
            width: 200px;
            height: 100px;
        }